<footer class="page-section pt-40 pb-50">
    <div class="container">
      <div class="row">
      
        <div class="col-md-3 col-sm-3 widget mb-0">
          <div class="logo-footer-cont mb-10">
            <a href="index.html">
              <img class="logo-footer" style="max-height: 40px;" src="/assets/images/bm_logo.png" alt="logo">
            </a>
          </div>
          <div class="footer-2-text-cont mb-5">
            <address>
              #125/1 ASPEN WOODS<br>
              Bangalore, 560076
            </address>
          </div>
          <div class="footer-2-text-cont">
            <a class="a-text" href="mailto:bharat.mane@gmail.com">bharat.mane@gmail.com</a>
          </div>
        </div>
        
        
      </div>    
      
      <div class="footer-2-copy-cont clearfix">
      
        
        <!-- Copyright -->
        <div class="left">
          <a class="footer-2-copy" target="_blank">&copy; BHARAT MANE 2021</a>
        </div>
        

      </div>
              
    </div>
  </footer>