<header id="nav" class="header header-1 no-transparent mobile-no-transparent header-boxed">
  <div class="header-wrapper">
    <div class="container relative clearfix">
      <div class="clearfix">
        <div class="logo-row">

          <!-- LOGO -->
          <div class="logo-container-2">
            <div class="logo-2">
              <a href="/" class="clearfix">
                <img src="/assets/images/bm_logo.png" class="logo-img" alt="BM">
              </a>
            </div>
          </div>
          <!-- BUTTON -->
          <div class="menu-btn-respons-container">
            <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
              <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
            </button>
          </div>
        </div>
      </div>

      <!-- MAIN MENU CONTAINER -->
      <div class="main-menu-container">

        <div class="container-m-30 clearfix">

          <!-- MAIN MENU -->
          <div id="main-menu">
            <div class="navbar navbar-default" role="navigation">

              <!-- MAIN MENU LIST -->
              <nav class="collapse collapsing navbar-collapse right-1024">
                <ul class="nav navbar-nav">

                  <!-- MENU ITEM -->
                  <li class="parent current">
                    <a href="/home" class="current"><div class="main-menu-title">HOME</div></a>
                  </li>

                  <!-- MENU ITEM -->
                  <li class="parent">
                    <a href="/blog"><div class="main-menu-title">BLOGS</div></a>
                  </li>
                  <li class="parent">
                    <a href="#"><div class="main-menu-title">RANDOM WORK</div></a>
                    <ul class="sub">
                      <li><a href="/work/paintings">PAINTINGS</a></li>
                      <li><a href="/work/manpakharu">MANAPAKHARU</a></li>
                      <li><a href="/work/calendars">CALENDARS</a></li>
                      <li><a href="#">PHOTOGRAPHY</a></li>
                    </ul>
                  </li>
                  <li class="parent">
                    <a href="#"><div class="main-menu-title">COLLECTION</div></a>
                    <ul class="sub">
                      <li><a href="/quotes">QUOTES</a></li>
                      <li><a href="/collection/stories">STORIES</a></li>
                    </ul>
                  </li>

                  <!-- MENU ITEM -->
                  <li id="menu-contact-info-big" class="parent megamenu">
                    <a href="/about"><div class="main-menu-title">ABOUT</div></a>

                  </li>
                </ul>

              </nav>

            </div>
          </div>
          <!-- END main-menu -->

        </div>
        <!-- END container-m-30 -->

      </div>
      <!-- END main-menu-container -->

    </div>

  </div>
  <!-- END header-wrapper -->

</header>
